---
import Layout from '../layouts/Layout.astro';
import Chat2 from '../components/chat/Chat';
---

<Layout title="Public Chat">
  <div class="container mx-auto px-4">
    <Chat2 client:load />
  </div>
</Layout>